@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --brand-color: orange;
}

body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header-logo img {
    height: 50px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    transition: .4s;
}

nav a:hover {
    color: var(--brand-color);
}


/* SLIDER
------------------------------------------------------------------------ */

.slider {
    width: 100%;
    height: 100vh;
}

.slide-1 {
    background: url("./img/slider-tap-1.jpg");
}

.slide-2 {
    background: url("./img/slider-tap-2.jpg");
}

.slide-3 {
    background: url("./img/slider-tap-3.jpg");
}

.slide-page {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slide-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* MAIN CONTENT
------------------------------------------------------------------------ */

.about-us {
    width: 100%;
    margin: 80px auto;
    max-width: 1200px;
    display: flex;
}

.about-us-left-box {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vh;
}

.about-us-left-box h5 {
    text-transform: uppercase;
    font-weight: 500;
}

.about-us-left-box h1 {
    font-size: 30px;
    color: #494949;
}

.about-us-left-box span {
    color: var(--brand-color);
}

.about-us-right-box {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 5vh;
    line-height: 1.5;
}

.services {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 60px auto;
}

.services h1 {
    text-transform: uppercase;
    text-align: center;
    color: #494949;
    margin: 80px 0;
}

.services h2 {
    font-size: 30px;
    color: #494949;
}

.services h4 {
    text-transform: uppercase;
    font-weight: 500;
}

.service-box {
    display: flex;
    margin-bottom: 100px;
    text-align: right;
}

.services .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}

.services .right-box {
    display: flex;
    justify-self: center;
    align-items: center;
}

.services-icon {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 39px -13px rgba(0,0,0,0.65);
}

.services img {
    width: 200px;
    height: 200px;
}

.services span {
    color: var(--brand-color);
}

.toilette, .soda {
    flex-direction: row-reverse;
    text-align: left;
}


/* CONTACT
------------------------------------------------------------------------ */

.contact {
    background: #231f20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.contact h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 30px 0;
    color: var(--brand-color);
}

.contact h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 600px;
    color: #888888;
}

.contact form input,
.contact form textarea,
.contact form button {
    background: #231f20;
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-bottom: 30px;
    padding: 5px;
    color: #888888;
}

.contact form button {
    border: none;
    cursor: pointer;
    color: white;
    width: 150px;
    margin: 0 auto;
    transition: .5s;
}

.form-btn:hover {
    background: var(--brand-color);
    color: black;
}

.contact form textarea {
    height: 150px;
    font-size: 20px;
}

.contact i {
    color: var(--brand-color);
    font-size: 30px;
    margin-top: 50px;
    transition: .5s;
}

.contact i:hover {
    color: white;
}


@media screen and (max-width: 800px) {

    header {
        justify-content: center;
        padding: 0;
    }

    .header-logo {
        display: none;
    }

    nav a {
        font-size: 14px;
        margin: 0;
    }

    nav a:nth-child(2) {
        margin: 0 15px;
    }

    .slide-page {
        background-position: right;
    }

    .about-us {
        display: block;
        text-align: center;
        padding: 0 3vh;
        margin: 30px 0;
    }

    .service-box {
        display: block;
        text-align: center;
        padding: 0 10px;
    }

    .services-icon {
        margin-top: 50px;
    }

    .services img {
        width: 150px;
        height: 150px;
    }

    .contact form {
        width: 100%;
        padding: 0 20px;
    }
}
